* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('./images/lightning.gif') no-repeat center center fixed;
    background-size: cover;
}

.navbar{
    margin: 30px 5%;
    color:white;
}

.nav-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

ul{
    list-style-type: none;

}

ul .nav-item-1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
}

ul .nav-item-1:hover{
    cursor: pointer;
}

ul .nav-item-1 img{
    width: 400px;
}

ul .nav-item-2{
    margin-left: auto;
}

ul .nav-item-2 img{
    width:30px;
}

ul .nav-item-3 img{
    width: 30px;
}


.title h1 {
    margin-top: 50px;
    color: #FFFFFF;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.4rem;
}

.card-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.cards {
    margin:10px 40px;
    display: flex;
}



.card {
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    width: 200px;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
}

.card:hover {
    transform: translateY(-10px); /* Move card up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #BB86FC;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.card-description {
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.card-container::-webkit-scrollbar {
    height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.small-text-card .card-title{
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lyrics-container {
    background: rgba(18, 18, 18, 0.6); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    color: #FFFFFF; /* White text for readability */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 450px; /* Adjust based on your design */
    border: 1px solid #373737; /* Border color */
}


.lyrics-title {
    font-size: 24px;
    color: #BB86FC;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.lyrics {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}


@media (max-width: 768px) {
    ul .nav-item-1 img{
        width: 250px;
    }    
    
    .title h1 {
        font-size: 1rem;
    }

    .cards {
        margin:10px 10px;
    }

    .lyrics-container{
        max-width: 280px;
    }

    .lyrics-title {
        font-size: 1.3rem; 
    }

    .lyrics {
        font-size: 1rem;
    }
}
